<% provide(:title, "Eurekaについて") %>


<div class="container static_page_container">
  <h1 class="text-center">Eurekaとは？</h1>
  <p>Eurekaは、科学的な発見を共有するソーシャルネットワーキングサービスです。研究をする方も、そうでない方も、知的好奇心を満たしましょう。</p>
</div>
