<% provide(:title, "設定") %>

<div class="container px-5 py-3">
 <h2>コンタクト</h2>
 <p class="mb-4">各種お問い合わせは以下から</p>
 <p>住所: 〒XXX-XXXX 東京都XX区XX番地XX XX-XX-XX</p>
 <p>メール: support@eureeeeka.com</p>
 <p>電話: XXX-XXXX-XXX</p>
</div>