<% provide(:title, "トップページ") %>

<div class="main">
  <%= image_tag 'ants.jpg', :class => "top-image" %>
  <div class="top-image-text">
    <div>
     <p class="m-0">科学をもっと身近に</p>
     <%= link_to '新規登録', new_user_path, class: "btn-lg btn-primary", id: "signup-button" %>
    </div>
  </div>
</div>

<div class="topics">
  <div class="container">
    <h2>Topics <span>(人気の記事)</span></h2>
    ここに人気の記事が入る
  </div>
</div>

<footer>
  <div class="container">
    <div class="footer-contact">
     <p>Contact</p>
    </div>
    <div class="footer-copyright">
     <p>&copy eureeeeka.com</p>
    </div>
  </div>
</footer>