<h3><%= @user.name %>様</h3>

<p>
  以下のリンクをクリックしパスワードを再設定してください。
</p>
<%= link_to "パスワードを再設定する", edit_password_reset_url(@user.reset_token, email: @user.email) %>

<p>Eureka運営事務局</p>

<p>このメールは自動送信です。返信はご遠慮ください。</p>