<%= form_for(current_user.bookmark_articles.build, remote: true) do |f| %>
<div><%= hidden_field_tag :article_id, article.id %></div>
  <%= f.button :type => "submit",id: "bookmark-btn" do%>
    <i class="fas fa-lightbulb"></i>
  <% end %>
<% end %>