<% provide(:title, "#{@tag_name}") %>

<div class="container">
  <div class="row">
      <div class="col-sm-3">
      
      </div>
    </div>

    <div class="col-sm-9">
      <h3><%= @tag_name %></h3>
        <ul class="articles">
          <%= render partial: "articles/article", collection: @articles%>
        </ul>
        <%= paginate @articles %>
    </div>
  </div>
</div>