<% provide(:title, "マイページ") %>

<div class="container">
  <div class="row">
    <div class="col-sm-3", id="profile-sidebar">
     <%= render 'users/profile_sidebar'%>
    </div>

    <div class="col-sm-9">
      <% if @user.articles.any? %>
        <ul class="articles">
          <%= render @articles%>
        </ul>
        <%= paginate @articles %>
      <% else %>
      <p>このユーザーの投稿はありません</p>
      <% end %>
      
    </div>
  </div>
</div>
