<% provide(:title, "#{@user.name}") %>

<div class="container p-2">
  <div class="row">
    <div class="col-sm-3", id="profile-sidebar">
      <% if current_user?(@user) %>
       <%= render 'users/profile_sidebar', {user: @user, viewpage: "myself"}%>
      <% else %>
      <%= render 'users/profile_sidebar', {user: @user, viewpage: "show"}%>
      <% end %>
    </div>

    <div class="col-sm-9">
      <% if @user.articles.any? %>
        <ul class="articles">
          <%= render @articles%>
        </ul>
        <%= paginate @articles %>
      <% else %>
      <p>このユーザーの投稿はありません</p>
      <% end %>
      
    </div>
  </div>
</div>
