<footer>
  <div class="container p-3">
    <div class="row">

      <div class="col-sm-4">
         <%= image_tag 'header-logo.png', class: "header-logo ml-3" %>
      </div>

      <div class="col-sm-5 mt-4">
        <ul class="footer-list">
          <li><%=link_to "Eurekaについて", about_path, class: "footer-list-link"%></li>
          <li><%=link_to "利用規約", rule_path, class: "footer-list-link" %></li>
          <li><%=link_to "コンタクト", contact_path, class: "footer-list-link" %></li>
        </ul>
      </div>

      <div class="col-sm-3">
      </div>

    </div>
  </div>

  <div class="footer-copyright">
     <p class="text-center p-2">&copy2020 eureeeeka.com</p>
  </div>

</footer>





    
    