<header>
  <div class="header-wrapper">
    <div class="header-left">
      <p class="mb-0">科学的知見を共有するSNS「Eureka」</p>
      <%= link_to image_tag('header-logo.png', :class => "header-logo"), root_path, class: "ml-5" %>
    </div>

    <div class="header-right">
        <%= link_to login_path, :method => :get do %>
          <div class="text-warning font-weight-bold mt-3"><i class="fa fa-sign-in-alt mr-2"></i>ログイン</div>
        <%end%>
    </div>
  </div>
</header>