<header>
  <div class="header-wrapper">
    <div class="header-left">
      <p class="mb-0">科学的知見を共有するSNS「Eureka」</p>
      <button type="button" id="sidebarCollapse"><i class="fas fa-align-left fa-lg"></i></button>
      <%= link_to image_tag('header-logo.png', :class => "header-logo"), root_path, class: "ml-3" %>
    </div>

    <div class="header-right">
      <select class="lang-list mt-1">
        <option value="japanese">日本語</option>
        <option value="english">英語</option>
      </select>
      
      <% if logged_in? %>
        <%= link_to "ログアウト", logout_path, method: :delete, class: "btn btn-secondary mt-3" %>
      <% else %>
        <%= link_to "ログイン", login_path, class: "btn btn-scarlet mt-3" %>
      <% end %>
    </div>
  </div>
</header>