<div class="container">
  <div class="row">
    <div class="col-sm-3" id="profile-sidebar">
      <%= render 'users/profile_sidebar', {user: @user, viewpage: "myself"} %>
    </div>

    <div class="col-sm-9" id="timeline">
    <h3>タイムライン</h3>
     <% if @feed_items.any? %>
      <ol class="articles" >
        <%= render @feed_items %>
      </ol>
      <%= paginate @feed_items %>
    <% end %>
    </div>
  </div>
</div>