/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree
 */

@import "bootstrap";
@import 'font-awesome-sprockets';
@import 'font-awesome';
@import "tagsinput";

/* ヘッダー */

header {
  background-color: #000000;
  color: white;
  padding-top: 5px;
  margin-bottom: 10px;
}

.container {
  padding-top: 10px;
}

#sidebarCollapse {
 background-color: #000;
}

.header-wrapper {
 padding:0 30px;
 width: 100%;
 display: flex;
 justify-content: space-between;
}

.header-left  {
  margin: auto 0;

  p {
    font-size: 0.9rem;
    padding-left: 60px;
   }
}

.fa-align-left {
 color: #fff;
}

.header-right {
  display:flex;
  flex-direction: column;
  margin: auto 0;

  .text-warning:hover{
    text-decoration: underline;
  }
  
}


/* ログイン時のヘッダー */

.header-left-login {
  display:flex;
  flex-direction: nowrap;
}

.icon-wrap {
  width: 55px;
  height: 55px;
  border: 1px #cfc100 solid; 
  padding: 3px 10px;
  text-align: center;
  border-radius: 6px;
  margin: auto 20px;
}

.header-icon {
 height: 100%;
 width: auto;
 margin: 0 auto;
}

.input-group {
  margin: auto 0px; 
}

.nav-item {
  border-top: 1px rgba(90, 89, 89, 0.5) solid;
}

.navbar-toggler {
  border: 1px rgba(187, 184, 184, 0.5) solid !important;
}

.nav-link {
  color: #fff !important;
}

.dropdown {
  margin:0 0 0 auto;
}

.navbar-nav {
   display: none;
}

.header-search-form {

  .form-control {
    width: 80%;
    display: inline-block;
  }
}

.footer-copyright {
  font-size: 0.7rem;
}

/* 通常のボタン色 */
.btn-scarlet,
.btn-scarlet.disabled, .btn-scarlet:disabled {
  color: #fff;
  background-color: #C00300;
  border-color: #C00300;
}

/* focusされた時の枠線の色 */
.btn-scarlet:focus, .btn-scarlet.focus,
.btn-scarlet:not(:disabled):not(.disabled):active:focus, .btn-scarlet:not(:disabled):not(.disabled).active:focus,
.show > .btn-scarlet.dropdown-toggle:focus {
  box-shadow: 0 0 0 0.2rem rgba(85, 26, 26, 0.5);
}

/* hover時（マウスカーソルを重ねた時）の色（通常より濃いor暗めの色を指定） */
.btn-scarlet:hover {
  color: #fff;
  background-color: rgb(136, 13, 10);
  border-color: rgb(136, 13, 10);
}

/* active時の色（hover時と同等かさらに濃いor暗めの色を指定） */
.btn-scarlet:not(:disabled):not(.disabled):active, .btn-scarlet:not(:disabled):not(.disabled).active,
.show > .btn-scarlet.dropdown-toggle {
  color: #fff;
  background-color: rgb(92, 4, 2);
  border-color: rgb(92, 4, 2);
}

/* フッター */

footer {
  background-color: black;
  color: white;
}

.footer-list {
  list-style: none;

  li {
    padding: 5px;

  }

  .footer-list-link{
    color: white;
  }
}

/* mixins, variables, etc. */

$gray-medium-light: #eaeaea;

@mixin box_sizing {
  -moz-box-sizing:    border-box;
  -webkit-box-sizing: border-box;
  box-sizing:         border-box;
}

/* miscellaneous */

.debug {
  text-align: left;
  padding: 30px;
}

.debug_dump {
  clear: both;
  float: left;
  width: 100%;
  margin-top: 45px;
  background-color:$gray-medium-light ;
  padding: 30px;
  border: 1px rgb(75, 73, 73) solid;
  @include box_sizing;
}

 /* 992px以下の場合 */
@media screen and (max-width: 992px) {

}

 /* 768px以下の場合 */
@media screen and (max-width: 768px) {
  .header-logo {
    width: 150px;
    height: auto;
  }

  .header-left p {
    font-size: 0.7rem;
  }

  .dropdown {
    display: none;
  }

  .navbar-nav {
    display: block;
 }

 .header-search-form {
  margin: 8px 0;  

  form {
    width:50%;
    min-width: 300px;
  }

  .form-control {
    display: inline-block;
  }
}
}

 /* 480px以下の場合 */
@media screen and (max-width: 480px) {
  .container {
    width: 100%;
    padding: 0;
  }

  header {
    padding: 0;
  }
  
  .header-wrapper {
    padding: 0 10px;
  }
  
  .header-logo {
    width: 120px;
    height: auto;
  }

  .header-left p {
    padding: 0;
    font-size: 0.7rem;
  }
}