.articles {
  list-style: none;
  margin: 0;
  li {
    overflow: auto;
    padding: 8px 0 4px 0;
    border-bottom: 1px solid rgb(110, 110, 110);
    display: flex;
  }
}

.article-title {
  font-size: 1.1rem;
  text-decoration: none;
  color: rgb(8, 25, 48);
  font-weight: bolder;
  display: inline;
  text-align: justify;
  vertical-align: middle;
}

.article-information {
  margin: auto 0 0 0;
  display: flex;
  justify-content: space-between;
}

.article-author, .article-timestamp {
  font-size: 0.7rem;
  color: rgb(37, 37, 37);
  display: block;
  margin-top: 10px;
}

.article-top{
  display: flex;
}

.article-image {
  margin-right: 10px;
  border-radius: 2px;
}


.article-btn-wrapper {
  margin-left: 5px;
  min-width: 77px;
}

.article-top-right {
  width: calc(100% - 70px);
  display: flex;
  flex-direction: column;
}

.article-delete-btn, .article-update-btn {
  font-size: 0.8rem;
  margin-left: 5px;
  display: inline-block;
}

.article-top-right-content {
  display: flex;
  justify-content: space-between;
}
