.articles {
  list-style: none;
  margin: 0;
  li {
    width: 100%;
    overflow: auto;
    padding: 8px 0 4px 0;
    border-bottom: 1px solid rgb(110, 110, 110);
    display: flex;
  }
}

.article-title {
  font-size: 1.1rem;
  text-decoration: none;
  color: rgb(8, 25, 48);
  font-weight: bolder;
  display: inline;
  text-align: justify;
  vertical-align: middle;
}

.article-information {
  margin: auto 0 0 0;
  display: flex;
  justify-content: space-between;
}

.article-author, .article-timestamp {
  font-size: 0.7rem;
  color: rgb(37, 37, 37);
  display: block;
  margin-top: 10px;
}

.article-top{
  display: flex;
}

.article-image {
  margin-right: 10px;
  border-radius: 2px;
}


.article-btn-wrapper {
  margin-left: 5px;
  min-width: 50px;
  display: flex;
  flex-direction: column;
}

.article-top-right {
  width: calc(100% - 70px);
  display: flex;
  flex-direction: column;
}

.article-delete-btn, .article-update-btn {
  margin-left: 5px;
  display: inline-block;
}

.article-top-right-content {
  display: flex;
  justify-content: space-between;
}

.bookmark-form {
  max-width: 20px;
}


/* article show page */

.article-container {
  width:70%;
  margin: 0 auto;

  .article-posted-time {
    font-size: 0.8rem;
  }

  .article-show-image{
    width:300px;
    height: auto;
  }
}

.article-sidebar {
  border-left: 1px rgb(110, 110, 110) solid;

  h5 {
    text-decoration: underline;
  }

  .related-article-wrapper {

    padding: 5px 0;

    .article-sidebar-image {
      width: 70%;
      height: auto;
      margin: 0 auto;
      display: block;
      border-radius: 5px;
    }
  
    p {
      width: 70%;
      height: auto;
      margin: 0 auto;
    }

  }  
}

.bookmark-wrapper {
    display: flex;
    justify-content: space-around;
    margin-top: 8px;
}

#bookmark-btn{
  color: grey;
  text-decoration: none;
  margin-left: 8px;
}

#bookmark-btn:hover {
  color: rgb(207, 195, 148)
}

#unbookmark-btn{
  color: rgb(255, 208, 0);
  text-decoration: none;
  margin-left: 8px;
}

.article-tag{
  text-decoration: none;
  color: #fff;
}

.article-tag:hover:hover {
  opacity: 0.7;
  text-decoration: none;
  color: #fff;
}

.article-category{
  font-size: 0.8rem;
}



/* 992px以下の場合 */
@media screen and (max-width: 992px) {
  .article-container {
    width:90%;
  }

  .article-sidebar{
    margin-top: 15px;
    border-top: 1px rgb(110, 110, 110) solid;
    border-left: 1px rgb(255, 255, 255) solid;

    h5 {
      margin-top: 30px;
      font-size: 1.5rem;
    }
  }
}



@media screen and (max-width: 768px) {
  .article-btn-wrapper {
    font-size: 1.3rem;
    max-width: 40px;
    min-width: 40px;

    .article-delete-btn, .article-update-btn {
      margin: 4px 0;
      display: inline-block;
    }

    .bookmark-wrapper {
      
      #bookmark-btn, #unbookmark-btn{
        font-size: 1.2rem;
      }
      
  }
  }

  .bookmark-form {
    margin-right: 5px;
    max-width: 20px;
  }
}

@media screen and (max-width: 578px) {
  .article-container {
   
    .article-show-image{
      width: 200px;
      height: auto;
      margin-bottom: 20px
    }
  }
  

}

 /* 480px以下の場合 */
@media screen and (max-width: 480px) {
  .article-top-left {
    img {
     display: none;
    }
  }
  
  .article-top-right {
    width: 100%;
    display: flex;
    flex-direction: column;
  }

  .article-container {
   
    .article-show-image{
      width: 100%;
      height: auto;
      margin-bottom: 20px
    }
  }

}