
/* トップページ */

.main {
  text-align: center;
  background-image: url('ants.jpg');
  background-size: cover;
  padding-top: 40%;
  position: relative;
}

.top-image-text {
  color: white;
  font-weight: bold;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
}

.top-image-text p {
  margin: 20px auto;
  padding: 10px;
  font-size: calc(10px + 3vw);
  background-color: rgba(0, 0, 0, 0.7);
}

#signup-button {
  width: 150px;
  padding: 10px 30px;
  font-size: 25px;
  text-decoration: none;
}

.topics h2 {
  color: #C00300;
  border-bottom: 2px #C00300 solid;
  margin: 40px 0 10px 0;
}

.lang-list {
  font-size: 0.8rem;
}



/* 768px以下の場合 */
@media screen and (max-width: 768px) {
  #signup-bottun {
    padding:0 20px;
  }
}

 /* 480px以下の場合 */
@media screen and (max-width: 481px) {
  .main {
    height: 220px;
    width: 100%;
    background-position: -100px, -100px;
  }

  .top-image-text p {
    font-size: 30px;
    margin-bottom: 15px;
  }

  #signup-button {
    width: 150px;
    padding: 10px 30px;
    font-size: 20px;
    text-decoration: none;
  }
}