
.form-container {
  max-width: 700px;
  padding: 30px;
  margin: 0 auto;
}

#error_explanation {
  color: red;
  ul {
    color: red;
    margin: 0 0 30px 0;
  }
}

/* user index */

.users {
  list-style: none;
  margin: 0;
  li {
    overflow: auto;
    padding: 10px 0;
    border-bottom: 1px solid #000;
  }
}

/* user sidebar */

#profile-sidebar {
  border-right: 1px rgb(190, 190, 190) solid;
}

.image-round{
  display: inline-block;
  width: 30%;
  height: auto;
  width: 100px;
  height: 100px;
  position: relative;
  overflow: hidden;
  border-radius: 50%;
  border: 2px rgb(119, 118, 118) solid;
    img{
      position: absolute;
      left: -100%;
      right: -100%;
      margin: auto;
      min-width: 100%;
      min-height: 100%;
    }
}

.index-image-round{
  display: inline-block;
  width: 30%;
  height: auto;
  width: 70px;
  height: 70px;
  position: relative;
  overflow: hidden;
  border-radius: 50%;
  border: 2px rgb(119, 118, 118) solid;
    img{
      position: absolute;
      left: -100%;
      right: -100%;
      margin: auto;
    }
}

.profile-top {
  text-align: center;

  h3 {
    margin: auto 10px;
  }
}

.profile-info {
  .profile-info-box{
    padding: 0;
    text-align: center;

    p {
      margin-bottom: 5px;
    }
  }

  .profile-info-stats {
    font-size: 1.7rem;
    color: #212529;
  }

  margin-top: 10px;
}

#post-btn, #unfollow-btn, #follow-btn{
  display: block;
  margin: 0 auto;
  max-width: 200px;
}



/* form */

.form-group > label {
  display: block;
}


.form-image-wrapper { 
  border: 1px solid #ced4da;
  border-radius: 5px;
  padding-bottom: 10px;
  text-align: center;
  img {
    display: block;
    margin: 15px auto;
  }
}

/* 992px以下の場合 */
@media screen and (max-width: 992px) {
  .container {
    max-width: 90%;
  }

  .profile-top {
    text-align: center;
  
    h3 {
     font-size: 1.3rem;
    }
  }

}


@media screen and (max-width: 576px) {
  .container {
    max-width: 90%;
  }

  #profile-sidebar {
    border-right: 1px rgb(255, 255, 255) solid;
    border-bottom: 1px rgb(190, 190, 190) solid;
    margin-bottom: 15px;
  }

  .profile-top {
    display: flex
  }
  
  .profile-info {
    display: flex;

    .profile-info-stats {
      font-size: 1.4rem;
    }
  }


  
  
}
