
.form-container {
  max-width: 700px;
  padding: 30px;
  margin: 0 auto;
}

#error_explanation {
  color: red;
  ul {
    color: red;
    margin: 0 0 30px 0;
  }
}

/* user index */

.users {
  list-style: none;
  margin: 0;
  li {
    overflow: auto;
    padding: 10px 0;
    border-bottom: 1px solid #000;
  }
}

/* user sidebar */

.image-round{
  display: inline-block;
  width: 80px;
  height: 80px;
  position: relative;
  overflow: hidden;
  border-radius: 50%;
  border: 2px rgb(119, 118, 118) solid;
    img{
      position: absolute;
      left: -100%;
      right: -100%;
      margin: auto;
    }
}

.profile-top {
  display:flex;

  h3 {
    margin: auto 10px;
  }
}

.profile-info {
  margin-top: 20px;

  p {
    font-size: 1.5rem;
  }
}

/* form */

.form-group > label {
  display: block;
}


.form-image-wrapper { 
  border: 1px solid #ced4da;
  border-radius: 5px;
  padding-bottom: 10px;
  text-align: center;
  img {
    display: block;
    margin: 15px auto;
  }
}
